:root {
    --color-black: #222222;
    --color-darkblue: #122ab2;
    --color-lightblue: #2c70ff;
    --color-text: #7c7c7c;
    --color-textlight: #a4a4a4;
    --color-bgcgray: #f7f7f7;
    --color-purple: #ae81ff;
    --color-red: #f9265e;
    --color-blue: #66d9eb;


    --size-text: 20px;
    --size-logo: 36px;
    --size-title: 48px;
    --size-container: 960px;
    
}